:root {
  --start: hsl(140, 50%, 50%);
  --end: hsl(10, 50%, 50%);
  --decision: hsl(50,50%,50%);
  --approach: hsl(100,50%,50%);
  --confirmation: hsl(260,50%,50%);
  --route: hsl(220,50%,50%); 
  --switch-width: 50px;
  --switch-padding: 3px;
  --switch-height: 25px;
}

body, #container {  
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;  
  transition: all 500ms;
  /*overflow: hidden;*/
}

input[type='range']:active{
  box-shadow: none;
}

#container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-row-gap: 0px;  
}

#container.debug {  
  grid-template-columns: 1fr 1.5fr 0.5fr;
}

#container #details-panel {
  display: none;
}

#container.debug #details-panel {
  display: flex;
}

#left-panel{
  z-index: 2;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 0;
  position: relative;
}

#backdrop{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.0);  
  z-index: -1;
  transition: all 200ms;
}

#backdrop.active{  
  background-color: rgba(0, 0, 0, 0.8);  
  z-index: 5;
}

#menu {
  display: flex;
  flex-direction: column;
  padding: 1em 1em 2em 1em;  
  /* https://bugzilla.mozilla.org/show_bug.cgi?id=1108514#c2 */
  min-height: 0;
}

#msg {
  padding: 1ex;
  margin: 1ex;    
  text-align: center;
  font-size: larger;
  border-radius: 6px;  
}

#msg.error {
  background-color: hsla(0,50%,50%,50%);
}

#msg:empty{
  display: none;
}

#map {
  z-index: 1;
}

#instructions {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  min-height: 0;
}

#instructions.hidden {  
  visibility: hidden;
}

.flex-header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--button-base);
  background: var(--background-alt);
  padding: 1ex;
}

.flex-header h3 {
  margin: 0;
  padding-left: 1em;
}

#instructions-clear, #debug-hide{  
  cursor: pointer;
  font-size: 125%;
}

#instructions-list:empty {
  display: none;
  visibility: hidden;
}

#instructions-list {
  list-style: none;
  padding: 0;  
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  scroll-snap-type: y mandatory;
}

#instructions-list li {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  transition: all 150ms;  
  scroll-snap-align: start;
}

#instructions-list li.approach .icon {
  background:   
  linear-gradient(315deg, var(--button-base) 20%, transparent 20%), linear-gradient(45deg, var(--button-base) 20%, transparent 20%),
  linear-gradient(315deg, var(--text-muted) 30%, transparent 30%), linear-gradient(45deg, var(--text-muted) 30%, transparent 30%),
  var(--button-base);
  background-position-y: -30px ;
  transition: all 100ms;
}

#instructions-list li.approach.active .icon {
  background-position-y: 0px;  
  transition: all 1000ms;

}

#instructions-list li.decision .icon {
  background:   
    /* Circle in the center */  
    radial-gradient(circle closest-side, var(--text-muted) 0%, var(--text-muted) 95%, transparent 100%),
    /* Half circle at the bottom */  
    radial-gradient(circle closest-side at 50% 50%, transparent 0%, transparent 145%, var(--button-base) 150%, var(--button-base) 150%);
}

#instructions-list li.decision.active .icon {
  filter: drop-shadow(0 0 20px var(--text-muted));
  transition: all 300ms;
}

/*
#instructions-list li.decision + li.confirmation .icon {
  background: radial-gradient(circle at 50% -20%, var(--background-body) 0%, var(--background-body) 35%, var(--background) 40%, var(--background) 150%);   
}
*/
/*
#instructions-list li.decision + li.approach .icon {
  background: 
    radial-gradient(circle at 50% -20%, var(--background-body) 0%, var(--background-body) 35%, var(--background) 40%, var(--background) 45%, var(--background-body) 100%),
    radial-gradient(circle at 50% 120%, var(--background-body) 0%, var(--background-body) 35%, var(--background) 40%, var(--background) 45%, var(--background-body) 100%); 
}
*/

#instructions-list li.confirmation .icon {
  background: var(--button-base);
}

#instructions-list li > div{
  padding: 1em 1.5ex;
}

#instructions-list li .content {
  flex-grow: 1;
}

#instructions-list li .content:hover {  
  background-color: var(--background);
  cursor: pointer;
}

#instructions-list li.active .content {  
  background-color: var(--background);
}

#instructions-list li:first-child .content {
  border-top: none;
}

#instructions-list li .content {
  border-top: 1px solid rgba(255,255,255,0.2);
}

button {
  margin: 0;  
  flex-grow: 1;
}

#search > form > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  margin-right: 6px;
  margin-bottom: 6px;
}

#search > form > div.active{
  position: relative;
  z-index: 10;
}

#search div label {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  min-width: 1em;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#search div label svg {
  padding: 1ex;
  opacity: 0.5;
}

#search div label svg * {
  stroke: var(--background);
}

#search div:first-child label {  
  background-color: var(--start);
}

#search div:nth-child(2) label {  
  background-color: var(--end);
}

#search input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: unset;
  margin: 0;
  flex-grow: 1;  
  -moz-appearance:textfield !important;
}
/* Hide the spinner buttons, from https://stackoverflow.com/questions/33749896/hide-html5-input-type-number-arrow-with-a-css-class */
#search input::-webkit-inner-spin-button, #search input::-webkit-outer-spin-button{
  -webkit-appearance: none !important;
  margin: 0 !important;
}

.no-spin {
  -moz-appearance:textfield !important;
}

#search input:focus{
  background-color: var(--button-base);
}

#settings-content {    
  min-height: 5vh;
  transition: all 200ms;
}

#settings-content[open] {
  overflow-y: auto;
  padding-top: 0;
  position: sticky;
  bottom: 0;
  min-height: min(66vh, 30em);
  margin: 0;
  box-shadow: 0px 0px 0px 1000px rgba(0, 0, 0, 0.4);
  transition: all 200ms;
}

details[open] summary { 
  position: sticky;
  top: 0;
  z-index: 5;
}

#settings-content .group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1vw;
}

#settings-content input{
  margin-top: 0;
  margin-bottom: 0;
}

#settings-content .group label:not(.switch-wrap){
  flex-grow: 1;
  width: 30%;
  min-width: 0;
}

#settings-content .group input[type="range"]{
  flex-grow: 2;
  min-width: 0;
}

#settings-content .group > *{
  margin-right: 1ex;
  margin-top: 0.5ex;
}

#context-menu{
  position: absolute;
  z-index: 2;
  background: var(--background-alt);
}

#context-menu.hidden{
  display: none;
}

#context-menu p {
  padding: 1.5ex 3ex;
  margin: 0;
}

#context-menu p:hover {
  background: var(--button-hover);
  cursor: pointer;
}

#details-panel {    
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.6);
  z-index: 2;
}

#details-panel h2 {
  margin: 0;
}

#details-data {
  font-size: smaller;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.mapboxgl-ctrl-fullscreen, .mapboxgl-ctrl-zoom-in, .mapboxgl-ctrl-zoom-out, .mapboxgl-ctrl-zoom-compass, .mapboxgl-ctrl-screenshot{  
  color: black;
}

.mapboxgl-export-list {
  background: var(--background-body);
}

.mapboxgl-export-list table { 
  width: auto;   
}

.mapboxgl-export-list table td{
  vertical-align: middle;
}

.mapboxgl-export-list button {   
  background: black; 
}

@media only screen and (max-width: 800px) {

  body, #container {  
    overflow-x: auto;
  }

  #container {
    grid-template-columns: 1fr;
    grid-template-rows: 60vh 40vh;
  }

  #container.debug {  
    grid-template-columns: 1fr;
  }  
  
  #container.debug #details-panel {
    display: none;
  }

  #left-panel {
    grid-row: 2;  
    overflow-y: scroll;
    /*padding-bottom: 10vh;*/
  }

  #menu {
    padding: 0;
  }

  #search.hidden {
    display: none;
  }

  #instructions-list {
    margin: 0%;
  }  

  #msg {
    position: fixed;
    top: 0;
    z-index: 4;
    background: hsla(0,0%,0%,90%);
    width: calc(100% - 4ex);
  }

  #settings-content[open] {
    margin: 0;
    position: fixed;
    top: 0;    
    width: calc(100% - 20px);
    height: 100vh;
    z-index: 10;
  }

  #settings-content {    
    max-height: 100vh;
    margin: 0;
  }    
 
}

@media (prefers-color-scheme: light) {
  #instructions-list li + li {
    border-top: 1px solid rgba(0,0,0,0.2);
  }

  #msg {
    background: hsla(0,0%,100%,90%);
  }
}

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: #29d;
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 2px;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--text-main);
}

.svg-icon circle {
  stroke: var(--text-main);
  stroke-width: 2;
}

/*
 CSS toggle switch, modified code from https://codepen.io/liamj/pen/QYyBzz
 Modifications: Changes SCSS variable to CSS vars, added style for disabled state
*/

.switch-wrap {
  cursor: pointer;
  background: var(--button-base);
  padding: var(--switch-padding);
  width: var(--switch-width);
  height: var(--switch-height);
  border-radius: calc((var(--switch-height) + var(--switch-padding)) / 2);  
}
.switch-wrap input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.switch {
  height: 100%;
  display: grid;
  grid-template-columns: 0fr 1fr 1fr;
  transition: .2s;
}
.switch::after {
  content: '';
  border-radius: 50%;
  background: var(--text-muted);
  grid-column: 2;
  transition: background .2s;
}

input:checked + .switch {
    grid-template-columns: 1fr 1fr 0fr;     
}
input:checked + .switch::after {
  background-color: #52cf71;
}

input:disabled + .switch {
  opacity: 0.2;
}

@media only screen and (min-width: 2000px) {
  html{
    font-size: 250%;
    font-weight: 600;
  }

  #container{
    grid-template-columns: 1fr 1fr;
  }

  /*#map{
    width: 1280px;
    height: 1080px;
    transform: scale(2);
    transform-origin: top left;
  }*/
}